Repository GluuFederation/guru-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pharingee, @ashtexsolutions, @GluuFederation/customer-facing-apps

.github/CODEOWNERS:

/devops/ @pharingee
/nginx/ @pharingee
/api/ @pharingee @ashtexsolutions
/guru-react/ @pharingee @ashtexsolutions
/users-vue/  @pharingee @ashtexsolutions

**/*CODEOWNERS* @GluuFederation/customer-facing-apps

Update python dependencies
  api/VERSION
Owners: @pharingee, @ashtexsolutions

Update guru-react version
  guru-react/package.json
Owners: @pharingee, @ashtexsolutions

Update users-vue version
  users-vue/package.json
Owners: @pharingee, @ashtexsolutions

Add command for local image builds
  devops/__pycache__/bump.cpython-37.pyc
  devops/local_build.sh
Owners: @pharingee

Add remote deploy script
  devops/remote-deploy.sh
Owners: @pharingee

REname local-build
  devops/local-build.sh
Owners: @pharingee

Restructure docs
  CONTRIBUTING.md
  README.md
  docs/DEPLOY.md
Owners: none

Fixes and Missing Assets
  guru-react/src/assets/images/bell_icon.png
  guru-react/src/assets/images/graph_icon.png
  guru-react/src/assets/images/group_icon.png
  guru-react/src/assets/images/next_arrow.png
  guru-react/src/assets/images/person_icon.png
  guru-react/src/components/Dashboard/AdminNotificationPopover.tsx
  guru-react/src/components/Dashboard/AdminUserRolePopover.tsx
  guru-react/src/components/Dashboard/DashboardSideMenu.tsx
  guru-react/src/pages/Dashboard/AdminPage.tsx
  guru-react/src/pages/Home/index.tsx
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/pages/TicketList/index.tsx
Owners: @pharingee, @ashtexsolutions

Hide Search Suggestion Fix
  guru-react/src/pages/Home/index.tsx
  guru-react/src/pages/TicketList/index.tsx
Owners: @pharingee, @ashtexsolutions

Add guru-jenkins image
  guru-jenkins/Dockerfile
Owners: none

Create Jenkinsfile
  Jenkinsfile
Owners: none

Remove custom env file from tests
  devops/build.py
Owners: @pharingee

Remove `ti` flag from build
  devops/build.py
Owners: @pharingee

Send messages with rocketSend
  Jenkinsfile
Owners: none

Company support plan on ticket list fix
  api/profiles/serializers.py
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/state/types/profiles.ts
Owners: @pharingee, @ashtexsolutions

Update function format
  Jenkinsfile
Owners: none

Remove branch limitations for rocket
  Jenkinsfile
Owners: none

Run commit info
  Jenkinsfile
Owners: none

Remove channel name form rocket function
  Jenkinsfile
Owners: none

Logging git commit variables
  Jenkinsfile
Owners: none

Set stage name per stage
  Jenkinsfile
Owners: none

Remove comma from `notifyRocket`
  Jenkinsfile
Owners: none

Move stageName defs to steps
  Jenkinsfile
Owners: none

Move stageName def to post
  Jenkinsfile
Owners: none

Fix stageName bug
  Jenkinsfile
Owners: none

Avatar User Name Fix
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
  guru-react/src/pages/TicketDetail/TicketHistoryListItem.tsx
  guru-react/src/pages/TicketDetail/TicketUserInfo.tsx
  guru-react/src/pages/TicketList/TicketListItem.tsx
Owners: @pharingee, @ashtexsolutions

Copylink and Staff edit fix
  guru-react/src/pages/TicketDetail/TicketCard.tsx
  guru-react/src/pages/TicketDetail/index.tsx
Owners: @pharingee, @ashtexsolutions

Delete Ticket Fix and New Ticket Link
  guru-react/src/components/TicketDetail/DeleteConfirmation.tsx
  guru-react/src/pages/TicketDetail/ResponseCard.tsx
  guru-react/src/pages/TicketDetail/TicketCard.tsx
  guru-react/src/pages/TicketDetail/TicketDetailSideBar.tsx
Owners: @pharingee, @ashtexsolutions

Fix channel name
  Jenkinsfile
Owners: none

Add colors to Jenkinsfile
  Jenkinsfile
Owners: none

Make deploy script executble
  devops/remote-deploy.sh
Owners: @pharingee

Add docker login to credentials
  Jenkinsfile
Owners: none

FIx jenkinfile typo
  Jenkinsfile
Owners: none

Configure jenkins to use ssh keys
  Jenkinsfile
  devops/build.py
Owners: @pharingee

Copy os environ in python script
  devops/build.py
Owners: @pharingee

Setup creds to deploy on jenkins
  Jenkinsfile
  devops/build.py
  devops/bump.py
Owners: @pharingee

Fix jenkins file error
  Jenkinsfile
Owners: none

Fix remote-deploy environment variable
  devops/remote-deploy.sh
Owners: @pharingee

Fix handlebars vulnerability
  guru-react/package-lock.json
  guru-react/package.json
Owners: @pharingee, @ashtexsolutions

Reorder hocs to fix withStyles issue
  guru-react/src/components/Dashboard/AddUserPopover.tsx
  guru-react/src/components/Dashboard/AdminNotificationPopover.tsx
  guru-react/src/components/Dashboard/AdminUserRolePopover.tsx
  guru-react/src/components/Dashboard/DashboardSideMenu.tsx
  guru-react/src/components/Dashboard/EditTeamPopover.tsx
  guru-react/src/components/Dashboard/InviteMemberPopover.tsx
  guru-react/src/components/Dashboard/InvitePartnerPopover.tsx
  guru-react/src/components/Dashboard/ManageNotificationPopover.tsx
  guru-react/src/components/Footer.tsx
  guru-react/src/components/Navbar.tsx
  guru-react/src/components/TicketDetail/ChangeOs.tsx
  guru-react/src/components/TicketDetail/ChangeProduct.tsx
  guru-react/src/components/TicketDetail/DeleteConfirmation.tsx
  guru-react/src/pages/Dashboard/AdminPage.tsx
  guru-react/src/pages/Dashboard/CustomerPage.tsx
  guru-react/src/pages/Dashboard/NotificationPage.tsx
  guru-react/src/pages/Dashboard/PartnersPage.tsx
  guru-react/src/pages/Dashboard/TeamPage.tsx
  guru-react/src/pages/Home/CategoryItem.tsx
  guru-react/src/pages/Home/index.tsx
  guru-react/src/pages/TicketDetail/EditTicket.tsx
  guru-react/src/pages/TicketDetail/ResponseCard.tsx
  guru-react/src/pages/TicketDetail/ResponsePost.tsx
  guru-react/src/pages/TicketDetail/TicketCard.tsx
  guru-react/src/pages/TicketDetail/TicketUserInfo.tsx
  guru-react/src/pages/TicketList/FilterTag.tsx
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/pages/TicketList/TicketListSidebar.tsx
  guru-react/src/pages/TicketList/TicketNav.tsx
  guru-react/src/pages/TicketList/index.tsx
  guru-react/src/pages/auth/LoginCallback.tsx
  guru-react/src/pages/auth/LoginRedirect.tsx
  guru-react/src/pages/auth/SignupRedirect.tsx
  guru-react/src/pages/error/ErrorPage.tsx
Owners: @pharingee, @ashtexsolutions
