Repository GluuFederation/guru-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pharingee, @ashtexsolutions, @GluuFederation/customer-facing-apps

Catch nginx-check errors
  devops/build.py
Owners: @pharingee

Fix vue wesome error
  users-vue/babel.config.js
  users-vue/package.json
  users-vue/yarn.lock
Owners: @pharingee, @ashtexsolutions

Bump versions
  guru-react/package.json
  users-vue/package.json
Owners: @pharingee, @ashtexsolutions

Responsiveness and Alignment Fixes
  guru-react/src/App.css
  guru-react/src/components/Autocomplete.tsx
  guru-react/src/components/Footer.tsx
  guru-react/src/pages/Home/index.tsx
  guru-react/src/pages/TicketDetail/ResponsePost.tsx
  guru-react/src/pages/TicketDetail/TicketCard.tsx
  guru-react/src/pages/TicketDetail/TicketDetailSideBar.tsx
  guru-react/src/pages/TicketDetail/index.tsx
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/pages/TicketList/TicketListSidebar.tsx
  guru-react/src/pages/TicketList/index.tsx
Owners: @pharingee, @ashtexsolutions

Use caret in versions
  guru-react/package.json
  users-vue/package.json
Owners: @pharingee, @ashtexsolutions

Required Changes in PR
  guru-react/src/App.css
Owners: @pharingee, @ashtexsolutions

Update autocomplete to run search function on enter
  guru-react/src/components/Autocomplete.tsx
Owners: @pharingee, @ashtexsolutions

Remove refs from homepage
  guru-react/src/pages/Home/index.tsx
Owners: @pharingee, @ashtexsolutions

Remove react refs
  guru-react/src/pages/TicketList/index.tsx
Owners: @pharingee, @ashtexsolutions

Add ticket list assignee to redux
  guru-react/src/state/actions/tickets.ts
  guru-react/src/state/hocs/tickets.tsx
  guru-react/src/state/reducers/tickets.ts
Owners: @pharingee, @ashtexsolutions

Use redux to update ticket list item assignee
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/pages/TicketList/index.tsx
  guru-react/src/state/actions/constants.ts
Owners: @pharingee, @ashtexsolutions

Position dropdown absolutely
  guru-react/src/components/Autocomplete.tsx
Owners: @pharingee, @ashtexsolutions

Fix autocomplete button clicks
  guru-react/src/components/Autocomplete.tsx
  guru-react/src/pages/Home/index.tsx
  guru-react/src/pages/TicketList/index.tsx
Owners: @pharingee, @ashtexsolutions

Assigned Filter and Detail Side Bar show staff list
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/pages/TicketList/TicketListSidebar.tsx
Owners: @pharingee, @ashtexsolutions

Only allow security updates
  .dependabot/config.yml
Owners: none

Prevent additional products from being duplicated
  guru-react/src/pages/CreateTicket/Step8.tsx
Owners: @pharingee, @ashtexsolutions

Update creat ticket store
  guru-react/src/state/actions/ticket.ts
  guru-react/src/state/hocs/ticket.tsx
  guru-react/src/state/reducers/ticket.ts
Owners: @pharingee, @ashtexsolutions

Update products when added
  guru-react/src/components/TicketDetail/ChangeProduct.tsx
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
Owners: @pharingee, @ashtexsolutions

Fix gluu version update
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
Owners: @pharingee, @ashtexsolutions

Fix os change
  guru-react/src/components/TicketDetail/ChangeOs.tsx
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
Owners: @pharingee, @ashtexsolutions

Make slug read only
  api/tickets/serializers.py
Owners: @pharingee, @ashtexsolutions

Fix autocomplete dropdown hiding on sidebars
  guru-react/src/components/Autocomplete.tsx
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
  guru-react/src/pages/Home/index.tsx
  guru-react/src/pages/TicketList/index.tsx
Owners: @pharingee, @ashtexsolutions

Fix unused variables warnings
  guru-react/src/components/Autocomplete.tsx
  guru-react/src/components/Dashboard/EditTeamPopover.tsx
  guru-react/src/components/TicketDetail/ChangeProduct.tsx
  guru-react/src/pages/CreateTicket/Step1.tsx
  guru-react/src/pages/CreateTicket/Step2.tsx
  guru-react/src/pages/CreateTicket/Step3.tsx
  guru-react/src/pages/CreateTicket/Step4.tsx
  guru-react/src/pages/CreateTicket/Step5.tsx
  guru-react/src/pages/CreateTicket/Step6.tsx
  guru-react/src/pages/CreateTicket/Step7.tsx
  guru-react/src/pages/CreateTicket/Step8.tsx
  guru-react/src/pages/CreateTicket/Step9.tsx
  guru-react/src/pages/CreateTicket/index.tsx
  guru-react/src/pages/TicketDetail/ResponseCard.tsx
  guru-react/src/pages/TicketDetail/TicketCard.tsx
  guru-react/src/pages/TicketDetail/TicketDetailSideBar.tsx
  guru-react/src/pages/TicketDetail/TicketHistoryListItem.tsx
  guru-react/src/pages/TicketDetail/index.tsx
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/pages/TicketList/index.tsx
  guru-react/src/state/actions/ticket.ts
  guru-react/src/state/hocs/ticket.tsx
  guru-react/src/state/types/tickets.ts
Owners: @pharingee, @ashtexsolutions

Clean anchor tag issues
  guru-react/src/components/Dashboard/AddUserPopover.tsx
  guru-react/src/pages/Dashboard/CustomerPage.tsx
  guru-react/src/pages/Dashboard/PartnersPage.tsx
Owners: @pharingee, @ashtexsolutions

Fix homepage responsive ui
  guru-react/src/App.css
  guru-react/src/pages/Home/index.tsx
  guru-react/src/theme.ts
Owners: @pharingee, @ashtexsolutions

Update ticket nav responnsiveness
  guru-react/src/pages/TicketList/TicketNav.tsx
  guru-react/src/theme.ts
Owners: @pharingee, @ashtexsolutions

Update ticket list UI
  guru-react/src/App.css
  guru-react/src/pages/TicketList/FilterTag.tsx
  guru-react/src/pages/TicketList/TicketListItem.tsx
  guru-react/src/pages/TicketList/TicketListSidebar.tsx
  guru-react/src/pages/TicketList/TicketNav.tsx
  guru-react/src/pages/TicketList/index.tsx
  guru-react/src/theme.ts
  guru-react/src/utils/chipStyles.ts
Owners: @pharingee, @ashtexsolutions

Fix ui for ticket list
  guru-react/src/pages/TicketList/TicketListSidebar.tsx
  guru-react/src/pages/TicketList/index.tsx
Owners: @pharingee, @ashtexsolutions

Format chip text to cut off with ellipsis
  guru-react/src/pages/TicketList/AllFilters.tsx
  guru-react/src/pages/TicketList/FilterTag.tsx
  guru-react/src/utils/chipStyles.ts
Owners: @pharingee, @ashtexsolutions

Footer alignement and Notification Page responsiveness
  guru-react/src/App.css
  guru-react/src/components/Dashboard/ManageNotificationPopover.tsx
  guru-react/src/pages/Dashboard/NotificationPage.tsx
Owners: @pharingee, @ashtexsolutions

Fix div issue
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
Owners: @pharingee, @ashtexsolutions

Fix postgres version at 11
  devops/docker-compose.yml
Owners: @pharingee

Response component and Team Page alignmnet
  guru-react/src/components/Dashboard/InviteMemberPopover.tsx
  guru-react/src/pages/Dashboard/TeamPage.tsx
  guru-react/src/pages/TicketDetail/ResponsePost.tsx
Owners: @pharingee, @ashtexsolutions

Add certbot config to https block on nginx
  nginx/dev.conf
Owners: @pharingee

Update users-dev configuration for certbot
  nginx/dev.conf
Owners: @pharingee

Prune changes to keep docker system clean
  Jenkinsfile
Owners: none

Install react-dropzone
  guru-react/package.json
  guru-react/yarn.lock
Owners: @pharingee, @ashtexsolutions

Add attachments to answers
  api/.gitignore
  api/tickets/admin.py
  api/tickets/serializers.py
  api/tickets/views.py
  guru-react/src/pages/TicketDetail/ResponseCard.tsx
  guru-react/src/pages/TicketDetail/ResponsePost.tsx
  guru-react/src/pages/TicketDetail/TicketAttachment.tsx
  guru-react/src/state/actions/tickets.ts
  guru-react/src/state/hocs/tickets.tsx
  guru-react/src/state/types/tickets.ts
Owners: @pharingee, @ashtexsolutions

Upload files during ticket creation
  api/profiles/views/tickets.py
  api/tickets/models.py
  api/tickets/serializers.py
  guru-react/src/components/TicketDetail/ChangeProduct.tsx
  guru-react/src/components/TicketDetail/TicketDetailSideBarItem.tsx
  guru-react/src/pages/CreateTicket/Step2.tsx
  guru-react/src/pages/CreateTicket/Step9.tsx
  guru-react/src/pages/CreateTicket/index.tsx
  guru-react/src/pages/TicketDetail/EditTicket.tsx
  guru-react/src/pages/TicketDetail/ResponseCard.tsx
  guru-react/src/pages/TicketDetail/ResponsePost.tsx
  guru-react/src/pages/TicketDetail/TicketAttachment.tsx
  guru-react/src/pages/TicketDetail/TicketCard.tsx
  guru-react/src/pages/TicketDetail/index.tsx
  guru-react/src/state/types/tickets.ts
Owners: @pharingee, @ashtexsolutions

Update versions
  api/VERSION
  guru-react/package.json
Owners: @pharingee, @ashtexsolutions

.github/CODEOWNERS:

/devops/ @pharingee
/nginx/ @pharingee
/api/ @pharingee @ashtexsolutions
/guru-react/ @pharingee @ashtexsolutions
/users-vue/  @pharingee @ashtexsolutions

**/*CODEOWNERS* @GluuFederation/customer-facing-apps
